.taskCard {
	width: 100%;
	min-height: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px !important;
	margin: 10px 0 10px !important;
}

.id {
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.title {
	text-align: center;
	margin: 10px 0 10px !important;
}

.button {
	background-color: red;
	border: none;
}

.button:hover {
	background-color: rgb(255, 103, 103);
}